[submodule "wtl-git"]
	path = wtl-git
	url = https://git.code.sf.net/p/wtl/git
[submodule "WTL"]
	path = WTL
	url = https://github.com/Win32-WTL/WTL.git
[submodule "uchardet"]
	path = uchardet
	url = https://github.com/freedesktop/uchardet.git
